@import url('https://fonts.googleapis.com/css2?family=Exo&family=Playfair+Display&family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
}

header {
    margin: 0;
}

body {
    color: blue;
    font-family: 'Exo', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Exo', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif;
}