@import url('https://fonts.googleapis.com/css2?family=Exo&family=Playfair+Display&family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color: blue;
    font-family: 'Exo', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Exo', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif;
}

/* ---------------------------------------Colors */

.bg-color-name-title {
    background-color: lavender;
}

.ui-menu-color-home {
    background-color: lightsalmon;
}

.ui-menu-color-resume {
    background-color: lightseagreen;
}

.ui-menu-color-contact {
    background-color: lightcoral;
}

.ui-menu-color-download {
    background-color: lightslategray;
}

/* ---------------------------------------Heading */

header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}

.logo {
    background: url(../images/edward-cisneros-_H6wpor9mjs-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: aqua;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.name {
    font-family: "Exo", sans-serif;
    font-size: 46px;
    margin-top: 50px;
}

.title {
    font-family: "Roboto", sans-serif;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menu-container {
    font-size: 0;
}

.menu-item {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menu-item a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 120px;
}

.menu-item span {
    display: block;
    width: 100%;
    padding-top: 5px; 
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
}

.menu-item a i {
    padding-top: 22px;
    display: block;
    font-size: 26px;
}

#nav li {
    font-size: 14px;
    padding: 0;
}